table {
  width: 100%;
}
.imageCell {
  width: 50px;
  height: 50px;
}
.homeContainer {
  display: flex;
  flex-direction: column;
}
.addButton {
  align-self: flex-end;
  margin-bottom: 20px;
}
.deleteCell {
  cursor: pointer;
}
.editCell {
  cursor: pointer;
  margin-right: 8px;
}
.actionCell {
  display: flex;
  justify-content: space-around;
}
